body {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 100px;
}

.text {
  display: block;
}

.country-list,
.country-info__list {
  display: block;

  margin: 0;
  padding: 0;

  list-style: none;
}

.country-list__item,
.country-info__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.country-list__img,
.country-info__img {
  display: block;
  margin-right: 20px;
}

.country-list__title,
.country-info__title {
  margin: 0;

  &.big {
    font-size: 30px;
  }
}
