{{!-- function rendering(country) {
refs.info.innerHTML = '';
const info =
`<ul>
  <li><img src="${country[0].flags.svg}" width="30" height="30">${country[0].name.common}</li>
  <li>Capital: ${country[0].capital.toString()}</li>
  <li>Population: ${country[0].population}</li>
  <li>Languages: ${Object.values(country[0].languages)}</li>
</ul>`




refs.info.insertAdjacentHTML('afterbegin', info);
} --}}